* {
  font-family: Alata;
}

body {
  position: relative;
  background: linear-gradient(to right top, #f8af4f, #ffdeaf);
  background-repeat: no-repeat;
}

.bg{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.tebel-banget {
  font-weight: 900;
}

.tebel-sedang {
  font-weight: bold;
}

.desc{
  width: 400px;
}

.button {
  background-color: #F40000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(250, 246, 10);
  color: red;
}

.linki{
  font-size: 37px;
  text-align:center;
  color: white;
  text-decoration: none;
  padding:10px 17px;
}  
  
.keunggulan {
  box-shadow: #F40000;
  display: flex;
  justify-content: space-around;
}

.gambar{
  display: none;
}

.img{
  width: 500px;
  z-index: -1;
  transition-property: width, height;
  transition-duration: 1s;
}

.img:hover {
  width: 550px;
}

.judul {
  text-align: center;
  width: 100%;
  padding: 10px 10px;
  background-color: rgb(250, 154, 10);
  border-radius:20px;
  color: white;
}

.alasan { width: 100%;}

.murahin, .terjangkau, .mulai {
  display: inline-block;
  text-align: center;
  margin-left: 90px;
  margin-top: 20px;
}

.murahin {
  height: 200px;
  width: 280px;
  margin-left: 10px;
  margin-right: 90px;
  border-radius: 20px;
}

.murah .murahin img{
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  border: 5px solid white;
  border-radius: 30px;
  transition-property: width, height;
  transition-duration: 1s;
}

.murah .murahin img:hover {
  width: 240px;
  height: 240px;
}

.terjangkau {
  height: 200px;
  width: 300px;
  margin-left: 0px;
  border-radius: 20px;
}

.murah .terjangkau img {
  height: 200px;
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  border: 5px solid white;
  border-radius: 30px;
  transition-property: width, height;
  transition-duration: 1s;
}

.murah .terjangkau img:hover {
  width: 260px;
  height: 240px;
}

.mulai {
  height: 200px;
  width: 280px;
  margin-right: 5px;
  border-radius: 20px;
}

.murah .mulai img{
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  border: 5px solid white;
  border-radius: 30px;
  transition-property: width, height;
  transition-duration: 1s;
}

.murah .mulai img:hover {
  width: 240px;
  height: 240px;
}


.deskripsi .jabar h2, p {
  display: inline-block;
}


.jabar {
  height : 300px;
  width : 650px;
  padding : 30px 30px; 
  float: right;
  border-radius: 20px;
  font-family: Alata;
}

/*Testimoni*/
.adik , .kakak, .abang {
  display : inline-block;
  margin : 20px 25px;
  text-align : center;
  font-size : 16px;
  border-radius: 20px;
}

.adik p, .kakak p, .abang p {
  font-size: 15px;
  padding: 0 20px;
}

.adik h3, .kakak h3, .abang h3 {
  font-size: 23px;
}

.adik {
  width: 315px;
  height: 450px;
}

.adik img {
  height: 250px;
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
}

.kakak {
  width: 300px;
  height: 450px;
}

.kakak img {
  height: 250px;
  width: 180px;
  border-radius: 20px;
  margin-top: 20px;
}

.abang {
  width: 300px;
  height: 450px;
  margin-top: 20px;
}

.abang img {
  height: 250px;
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
}

.deskripsi img {
  padding-top: -10px;
  height: 250px;
  width: 400px;
}

.background {
  width: 100%;
  background: linear-gradient(to right top, rgba(255, 187, 0, 0.938), rgba(255, 115, 0, 0.959));;
  border-radius: 150px;
}

.gado, .ayam {
  margin: 20px;
}

.hargagado {
  height: 55px;
  width: 280px;
  background-color: #F40000;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 20px ;
  text-align: center;
  transition: 0.3s;
  border: none;
  color: white;
  border: 5px solid white;
}

.hargagado a, .hargaayam a {
  font-size: 30px;
}

.hargagado:hover {
  transition: 0.3s;
  background-color: rgb(250, 246, 10);
  height: 58px;
  width: 285px;
  cursor: pointer;
}

.desgado, .desayam {
  text-align: justify;
  padding: 8px 30px;
  margin: 20px 80px;
  height: 250px;
  width: 50%;
  background: linear-gradient(to right top, rgba(255, 187, 0, 0.938), rgba(255, 115, 0, 0.959));;
  border-radius: 30px;
  border: 3px solid white;
}

.ungkep img{
  height: 200px;
  width: 18%;
  padding: 20px 20px;
  background-color: rgba(255, 115, 0, 0.959);
  border-radius: 30px;
  margin-top: -30vh;
  margin-left: 90px;
  margin-right: 70px;
  border: 3px solid white;
}

.ungkep img, .desgado {
  display: inline-block;
}

.sayurgado img, .desayam {
  display: inline-block;
}

.sayurgado img {
  height: 200px;
  width: 15%;
  padding: 20px 20px;
  background-color: rgba(255, 115, 0, 0.959);
  border-radius: 30px;
  margin-top: -30vh;
  margin-left: 105px;
  margin-right: 80px;
  border: 3px solid white;
}

.hargaayam {
  height: 55px;
  width: 280px;
  background-color: #F40000;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 20px ;
  text-align: center;
  transition: 0.3s;
  border: none;
  color: white;
  border: 5px solid white;
}


.hargaayam:hover {
  box-shadow: 20px #ffff;
  background-color: rgb(250, 246, 10);
  height: 58px;
  width: 285px;
  cursor: pointer;
  color: red;
}

.image1 img, .image2 img, .image3 img{
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ungkep, .sayurgado{
  border: 3px solid white;
  border-radius:30px;
}

.point1 {
  height: 340px;
  width: 52vh;
  text-align: justify;
  background-color: orange;
  padding: 20px 30px;
  border-radius: 30px;
  margin:0px 20px;
  transition-property: height;
  transition-duration: 1s;
}

.point1:hover {
  border: 1px solid white;
  width: 52vh;
  height: 370px;
}

.point1 h3 {
  text-align:center;
}

.point2 {
  height: 340px;
  width: 52vh;
  text-align: justify;
  background-color: orange;
  padding: 20px 30px;
  border-radius: 30px;
  margin:0px 20px;
  transition-property: height;
  transition-duration: 1s;
}

.point2:hover {
  border: 1px solid white;
  width: 52vh;
  height: 370px;
}

.point2 h3 {
  text-align:center;
}

.point3 {
  height: 340px;
  width: 52vh;
  text-align: justify;
  background-color: orange;
  padding: 20px 30px;
  border-radius: 30px;
  margin:0px 20px;
  transition-property: width, height;
  transition-duration: 1s;
}

.point3:hover {
  border: 1px solid white;
  width: 52vh;
  height: 370px;
}

.point3 h3 {
  text-align:center;
}

.alasan {
  display: flex;
  justify-content: space-between;
  margin: 28px 22px;
}















