* {
    font-family: Alata;
  }
  
body {
    position: relative;
    background: linear-gradient(to right top, #f8af4f, #ffdeaf);
    background-repeat: no-repeat;
}

.bg{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
 }

.tebel-banget {
    font-weight: 900;
}

.tebel-sedang {
    font-weight: bold;
}

.desc{
    max-width: 400px;
}

.button {
    background-color: #F40000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: rgb(250, 246, 10);
    color: red;
}

.desgado, .desayam {
  text-align: justify;
  padding: 10px 30px;
  height: 240px;
  width: 90%;
  margin: 0px 28px;
  background: linear-gradient(to right top, rgba(255, 187, 0, 0.938), rgba(255, 115, 0, 0.959));;
  border-radius: 30px;
  border: 3px solid white;
}

.ungkep img{
  height: 200px;
  width: 40%;
  padding: 20px 20px;
  background-color: rgba(255, 115, 0, 0.959);
  border-radius: 40px;
  margin: 20px 30%;
  justify-content: center;
  border: 3px solid white;
}


.sayurgado img {
  height: 200px;
  width: 38%;
  padding: 20px 20px;
  background-color: rgba(255, 115, 0, 0.959);
  border-radius: 40px;
  margin: 20px 31%;
  justify-content: center;
  border: 3px solid white;
}

.sayurgado, .ungkep {
  width: 45%;
  height: 500px;
}

  .hargaayam {
    height: 55px;
    width: 250px;
    background-color: #F40000;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    text-align: center;
    transition: 0.3s;
    border: 5px solid white;
    color: white;
  }

  .linki{
    font-size: 30px;
    text-align:center;
    color: white;
    text-decoration: none;
    padding:10px 20px;
  }
  
  .hargaayam:hover {
    box-shadow: 20px #ffff;
    background-color: rgb(250, 246, 10);
    height: 58px;
    width: 285px;
    cursor: pointer;
    transition: 0.3s;
    color: red;
  }
  
  .hargagado {
    height: 55px;
    width: 250px;
    background-color: #F40000;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    text-align: center;
    transition: 0.3s;
    border: none;
    color: white;
    border: 5px solid white;
  }
  
  .hargagado:hover {
    box-shadow: 20px #ffff;
    transition: 0.3s;
    background-color: rgb(250, 246, 10);
    height: 58px;
    width: 285px;
    cursor: pointer;
    color: red;
  }

  .price {
    margin-top:10vh;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(250, 154, 10);
    border-radius:20px;
    color: white;
}

.ungkep, .sayurgado{
  border: 3px solid white;
  border-radius:30px;
}

.hidangan{
  display: flex;
  justify-content: space-evenly;
}

.teleskop {
  height: 250px;
  width: 250px;
  position:absolute;
  margin-left: 66%;
  margin-top: 60px;
  display: block;
  margin-top: -75px;
}

.warning {
  height: 250px;
  width: 250px;
  position:absolute;
  margin-top: -75px;
  transform: rotate(35deg);
  display: block;
}
